@import '../../../styles/variables.scss';

.wrapper {
    text-align: center;
    max-width: 1100px;
}

.resultMessage {
    color: $blue-pale;
    font-family: $anuphan;
    font-size: 18px;
    padding-top: 60px;
}

.contactForm {
    color: $blue-pale; 
    font-family: $anuphan;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px 0;
    text-align: left;

    .textContainer {
        display: flex;
        justify-content: space-between;
        padding: 0 0 16px 0;
        text-align: left;

        span {
            display: inline-block;
            width: 30%
        }

        input {
            display: inline-block;
            padding: 4px 6px;
            width: 60%
        }
    }

    .textAreaContainer {
        .textAreaDiv {
            padding: 0 0 16px 0;
        }

        textarea {
            height: 160px;
            padding: 12px 16px;
            width: 100%
        }
    }

    .buttonContainer {
        text-align: right;

        button {
            background-color: $blue-deep;
            border: 4px solid $purple;
            color: white;
            margin: 16px 0 0 0;
            padding: 6px 10px;
        }
    }
}
