@import '../../../styles/variables.scss';

.musicOuter {
    margin: 0 auto;
    max-width: 1100px;
    padding: 24px;
    width: 100%;
}

.musicContainer {
    margin: 24px 0;
}

.musicTitle {
    font-size: 48px;
}

.musicList {
    padding-bottom: 36px;
}

.songLink {
    color: $blue-pale;
    display: block;
    font-size: 30px;
    font-family: $marvel;
    margin: 0;
    padding: 0 0 14px 0;
}
