@import '../../../styles/variables.scss';

.musicOuter {
    margin: 0 auto;
    max-width: 1100px;
    padding: 24px 0 0 0;
    width: 100%;
}

.musicContainer {
    margin: 24px 0;
}

.musicTitle {
    font-size: 48px;
}