@import '../../../styles/variables.scss';

.musicOuter {
    text-align: center;
    width: 100%;
}

.musicInner {
    margin: 0 auto;
    max-width: 1100px;
    padding: 24px;
    text-align: left;
    width: 100%;
}

.musicContainer {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 60px;
    justify-content: flex-start;
    margin: 8px 0 24px 0;
}

.musicTitle {
    font-size: 48px;
}

.musicList {
    padding-bottom: 14px;
}

.songLink {
    color: $blue-pale;
    display: block;
    font-size: 30px;
    font-family: $marvel;
    margin: 0;
    padding: 0 0 14px 0;
}

.socialBar {
    max-width: 1100px; 
}

@media only screen and (max-width: 767px) {
    .musicInner {
        padding: 24px 24px 24px 46px
    }
}

@media only screen and (max-width: 412px) {
    .musicInner {
        padding: 24px;
        text-align: center;
    }

    .musicContainer {
        justify-content: center;
    }

    .musicList {
        &.socialBar {
            > div:first-of-type {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
    }
}

