@import '../../../styles/variables.scss';


.progressBarContainer {
    align-items: center;
    color: $blue-faint;
    display: flex;
    font-family: $anuphan;
    gap: 16px;
    justify-content: flex-start;
}

.range {
  --range-progress: 0;
  /* ... */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 400px; /* Specific width is required for Firefox. */
  background: $blue-faint; /* Otherwise white in Chrome */
  border-radius: 6px;

  
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $button-active;
  height: 16px;
  width: 30px;
  border-radius: 6px;
  background: $button-active;
  cursor: pointer;
  margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

// .range:focus {
//   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

.range::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.range::before {
  /* ... */
  background: #f50;
  width: var(--range-progress);
  
}

