@import '../../../styles/variables.scss';

.songLink {
    color: $blue-pale;
    display: block;
    flex: 0 0 250px;
    font-size: 30px;
    font-family: $marvel;
    margin: 0;
    padding: 0 0 14px 0;
    white-space: nowrap;
}
