.nav {
  position: relative;
  background-color: var(--colors-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(var(--spacing) * 1.5px) calc(var(--spacing) * 2.5px);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.09);
  height: var(--top-navigation-height-px);
  z-index: 1; /* Added so dropshadow is above drawer below */
}

.logo {
  width: 108px;
  height: auto;
}

.rightNav {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex: 1;
}

.leftNav {
  justify-content: flex-start;
  flex: 1;
}

.icon {
  margin: calc(var(--spacing) * 3px) calc(var(--spacing) * 2px)
    calc(var(--spacing) * 3px) calc(var(--spacing) * 1px);
}
