@import '../../../styles/variables.scss';

.navTop {
    align-items: center;
    color: $purple;
    display: flex;
    font-family: $anuphan;
    font-weight: 700;
    justify-content: flex-start;
    margin: 0;
    padding: 0 0 0 39px;
    transition: all 250ms;
    z-index: 100;

    a {
        font-size: 24px;
        padding: 4px 8px;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover {
            color: $purple-light;
        }
    }

    div.navLevel1 {
        background-color: $black;
        cursor: pointer;
        display: block;
        overflow: visible;
        margin: 0 20px 0 0;
        position: relative;
        transition: all 250ms;
        
        &:hover {
            div.navLevel2 {
                display: flex;
            }
        }
    }

    span.navLevel1 {
        font-size: 24px;
    }

    div.navLevel2 {
        background-color: $black;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 4px 8px;
        position: absolute;
        left: -8px;
        top: 100%;
        width: fit-content;

        a {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 767px)  {
    .navTop {
        flex-direction: column;
        gap: 8px;
        height: 0;
        padding-left: 20px;
        padding-top: 8px;

        &.mobileOpen {
            height: 222px;

            div.navLevel1 {
                transform: scale(1, 1);
            }

            div.navLevel2 {
                display: flex;
                position: static;
                width: 100%;
            }
        }
    }

    div.navLevel1 {
        border: 1px solid $purple;
        text-align: center;
        transform: scale(1, 0);
        width: 100%;
    }
}
