@import '../../../styles/variables.scss';

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 100%;
}

.musicButton {
    align-items: center;
    background-color: white;
    border: 1px solid $purple;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    height: 88px;
    justify-content: flex-start;
    padding: 0 0 0 6px;
    width: 25%;

    .buttonImage {
        display: block;
        height: 64px;
        width: 64px;
    }

    .buttonTitle {
        display: block;
    }
}