@import '../../../styles/variables.scss';

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start; 
    width: 100%;
}

.musicButton {
    align-items: center;
    border: 1px solid $purple;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    height: 40px;
    justify-content: flex-start;
    padding: 0 0 0 6px;
    width: 160px;

    .buttonImage {
        display: block;
        height: 32px;
        width: 32px;

        img {
            max-height: 30px;
            max-width: 30px;
        }

        svg {
            fill: white;
            max-height: 30px;
            max-width: 30px;
            stroke: black; /* Red stroke (outline) */
            stroke-width: 1px; /* Stroke thickness */
        }
    }

    .buttonTitle {
        display: block;
    }
}

.bandcamp {
    padding-top: 4px;
}

@media only screen and (max-width: 767px)  {
    .buttonsContainer {
        justify-content: center;
    }
}
