@import '../../../styles/variables.scss';


.audioContainer {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.playButton {
    background-color:$yellow-faint;
    border: 2px solid $orange-burnt;
    border-radius: 50%;
    height: 64px;
    position: relative;  
    width: 64px; 

    &.isPlaying {
        border: 2px solid $brick-red;

        .triangleRight {
            border-left: 35px solid $brick-red;
        }
    }
}

.triangleRight {
    border-top: 20px solid transparent;
    border-left: 35px solid $orange-burnt;
    border-bottom: 20px solid transparent;
    position: absolute;
    height: 0;
    left: 17px;
    top: 9px;
    width: 0;
}

