@import '../../../styles/variables.scss';


.playButton {
    background-color:$yellow-faint;
    border: 2px solid $orange-burnt;
    border-radius: 50%;
    height: 64px;
    position: relative;  
    width: 64px; 
}

.triangleRight {
    border-top: 20px solid transparent;
    border-left: 35px solid $orange-burnt;
    border-bottom: 20px solid transparent;
    position: absolute;
    height: 0;
    left: 17px;
    top: 9px;
    width: 0;
}