$purple: #663399;

.container {
  z-index: 100;
}

.logo {
  display: block;
  height: auto;
  max-height: 221px;
  max-width: 1125px;
  text-align: left;
  width: 100%;
}

.topBar {
  display: block;
}

@media only screen and (max-width: 767px)  {
  .container {
    width: 100%;
  }

  .topBar {
    border: 2px solid $purple;
    height: 42px;
    text-align: center;
    position: relative;
    width: 100%;
  }

  .logo {
    display: inline-block;
    height: 100%;
    text-align: left;
    width: auto;
  }
}