.logo {
  height: 221px;
  text-align: left;
  width: 100%;
}

.construction {
  background-image: url('../../../public/images/under_construction_tape_480.png');
  background-repeat: repeat-x;
  height: 38px;
  width: 100%;
}

.test {
  color: $purple;
  display: none;
  font-family: $anuphan;
}
