@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;700'); 
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700'); 

/* font */
$anuphan: "Anuphan", sans-serif;
$marvel: "Marvel", sans-serif;

/* colors */
$black: #000;
$purple-light: #b430c5;
$purple-bright: #b330c5;
$purple: #663399;
$white: #fff;



/* color tryouts */
$yellow: #f1e601;
$dark-yellow: #898305;

$aqua: #339999;

$green: #669933;
$pea-green: #669933;
$kelley-green: #339966;

$blue: #4040bf;
$pale-blue: #b2b2fd;
$deep-blue: #333399;
$faint-blue: #b2b2fd;


$brick-red: #993333;
$burnt-orange: #be6003;

.headline {
    color: $blue;
    font-family: $anuphan;
}
