@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;700'); 

/* font */
$anuphan: "Anuphan", sans-serif;

/* colors */
$black: #000;
$purple-light: #b430c5;
$purple-bright: #b330c5;
$purple: #663399;
$white: #fff;